<ion-view view-title="Novo cliente">
    <ion-content>
        <div class="row responsive-sm">
            <div class="col center-block">
                <img src="../img/logo-2.fw.png" alt=""></div>
            <div class="col">
                <div class="list input-color-cinza">
                    <!--tipo pessoa-->
                    <ion-radio type="radio" ng-model="myVar" value="cliente">Cliente</ion-radio>
                    <div class="spacer"></div>
                    <ion-radio type="radio" ng-model="myVar" value="juridica">Diarista</ion-radio>
                    <div ng-switch="myVar">
                        <!--fim tipo pessoa-->

                        <div ng-switch-when="cliente">
                            <!--cadastro cliente-->
                            <div class="list">
                                <h5>Preencha os campos a baixo.</h5>
                                <label class="item item-input item-select">
                                    <div class="input-label">
                                        Tipo pessoa
                                    </div>
                                    <select>
                                        <option selected>Fisíca</option>
                                        <option>Jurídica</option>
                                    </select>
                                </label>
                                <label class="item item-input">
                                    <input type="text" placeholder="Nome">
                                </label>
                                <label class="item item-input">
                                    <input type="text" placeholder="Sobrenome">
                                </label>
                                <br>

                                <label class="item item-input">
                                    <input type="text" placeholder="CPF">
                                </label>
                                <br>

                                <label class="item item-input item-select">
                                    <div class="input-label">
                                        Sexo
                                    </div>
                                    <select>
                                        <option> Masculino</option>
                                        <option> Feminino</option>
                                    </select>
                                </label>
                                <br>

                                <label class="item item-input">
                                    <input type="text" placeholder="Data">
                                </label>
                                <br>

                                <label class="item item-input">
                                    <input type="text" placeholder="Telefone">
                                </label>
                                <br>

                                <label class="item item-input">
                                    <input type="text" placeholder="CEP">
                                </label>
                                <br>

                                <label class="item item-input">
                                    <input type="text" placeholder="Endereço">
                                </label>
                                <br>
                                <label class="item item-input">
                                    <input type="text" placeholder="Referência">
                                </label>
                                <br>
                                <label class="item item-input item-select">
                                    <div class="input-label">
                                        Estado
                                    </div>
                                    <select>
                                        <option>Acre</option>
                                        <option>Alagoas</option>
                                        <option>Amapá</option>
                                        <option>Amazonas</option>
                                        <option>Bahia</option>
                                        <option>Ceará</option>
                                        <option>Distrito Federal</option>
                                        <option>Espírito Santo</option>
                                        <option>Goiás</option>
                                        <option selected>Maranhão</option>
                                        <option>Mato Grosso</option>
                                        <option>Mato Grosso do Sul</option>
                                        <option>Minas Gerais</option>
                                        <option>Pará</option>
                                        <option>Paraíba</option>
                                        <option>Paraná</option>
                                        <option>Pernambuco</option>
                                        <option>Piauí</option>
                                        <option>Rio de Janeiro</option>
                                        <option>Rio Grande do Norte</option>
                                        <option>Rio Grande do Sul</option>
                                        <option>Rondônia</option>
                                        <option>Roraima</option>
                                        <option>Santa Catarina</option>
                                        <option>São Paulo</option>
                                        <option>Sergipe</option>
                                        <option>Tocantins</option>

                                    </select>
                                </label>
                                <br>
                                <button type="submit" name="send" class="button button-block bt-entrar icon-branco">
                                    Cadastra-se
                                </button>

                                <button type="submit" name="send" class="button button-assertive button-full icon-branco">
                                    cancelar
                                </button>
                            </div>
                            <!-- Fim Form cliente-->
                        </div>
                        <div ng-switch-when="juridica">
                            <h5>Preencha os campos a baixo.</h5>
                            <label class="item item-input item-select">
                                <div class="input-label">
                                    Tipo pessoa
                                </div>
                                <select>
                                    <option value="fisica" selected>Fisíca</option>
                                    <option value="juridica">Jurídica</option>
                                </select>
                            </label>
                            <label class="item item-input">
                                <input type="text" placeholder="Nome">
                            </label><br>

                            <label class="item item-input">
                                <input type="text" placeholder="Sobrenome">
                            </label><br>

                            <label class="item item-input">
                                <input type="text" placeholder="CPF">
                            </label><br>


                            <label class="item item-input">
                                <input type="text" placeholder="Data">
                            </label><br>

                            <label class="item item-input">
                                <input type="tel" placeholder="Telefone">
                            </label><br>

                            <label class="item item-input">
                                <input type="text" placeholder="CEP">
                            </label><br>

                            <label class="item item-input">
                                <input type="text" placeholder="Endereço">
                            </label><br>


                            <label class="item item-input">
                                <input type="text" placeholder="Referência">
                            </label><br>


                            <label class="item item-input item-select">

                                <div class="input-label">
                                    Estado

                                </div>
                                <select>
                                    <<option>Acre</option>
                                    <option>Alagoas</option>
                                    <option>Amapá</option>
                                    <option>Amazonas</option>
                                    <option>Bahia</option>
                                    <option>Ceará</option>
                                    <option>Distrito Federal</option>
                                    <option>Espírito Santo</option>
                                    <option>Goiás</option>
                                    <option selected>Maranhão</option>
                                    <option>Mato Grosso</option>
                                    <option>Mato Grosso do Sul</option>
                                    <option>Minas Gerais</option>
                                    <option>Pará</option>
                                    <option>Paraíba</option>
                                    <option>Paraná</option>
                                    <option>Pernambuco</option>
                                    <option>Piauí</option>
                                    <option>Rio de Janeiro</option>
                                    <option>Rio Grande do Norte</option>
                                    <option>Rio Grande do Sul</option>
                                    <option>Rondônia</option>
                                    <option>Roraima</option>
                                    <option>Santa Catarina</option>
                                    <option>São Paulo</option>
                                    <option>Sergipe</option>
                                    <option>Tocantins</option>
                                </select>
                            </label>
                            <br>

                            <!-- Inicio Form Cadastro Pessoa Juridica-->
                            <div class="list">
                                <button type="submit" name="send" class="button button-block bt-entrar icon-branco">
                                    Cadastra-se
                                </button>

                                 <button type="submit" name="send" class="button button-assertive button-full icon-branco">
                                    cancelar
                                </button>
                            </div>
                            <!-- Fim Form Cadastro Pessoa Juridica-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>