<ion-view view-title="Contatos">
    <ion-content class="bg-login">
        <div class="row responsive-sm">
            <div class="col">
                <img src="../img/logo-vertical.fw.png" width="150" alt="">
            </div>
            <div class="col title-sub">
                <div class="title-contato">
                    Entre em contato conosco!
                </div><br><br>
                <div class="fone">
                    <i class="icon ion-android-call"></i>
                    Telefones
                </div><br>
                <div class="text">
                    <p>(99)  98814-8322 (WhatsApp)</p>
                    <p>(99)  99149-5042 (Vivo)</p>
                    <p>(99)  3254-1003 (Fixo)</p>
                </div><br>

                <div class="mensagem">
                    <i class="icon ion-email"></i>
                     Mensagens
                </div><br>

                <div class="text">
                    <p>comercial@donarita.net</p>
                    <p>eduardo@donarita.net</p>
                </div>



            </div>




            </div>
    </ion-content>
</ion-view>
