<ion-view view-title="Recuperar senha">
    <ion-content class="bg-login">
        <div class="row responsive-sm">
            <div class="col center-block">
                <img src="../img/logo-vertical.fw.png" alt=""></div>
            <div class="col title-sub">
                Informe seu email para iniciar o procedimento de recuperação de senha.
            </div>
            <div class="col">
                <div class="list">
                    <label class="item item-input">
                        <input type="email" placeholder="Ensira seu e-mail" class="text-center">
                    </label>
                    <button type="submit" name="send" class="button button-block bt-entrar icon-branco">
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
