<ion-view view-title="Login">
    <ion-content class="bg-login">
        <div class="row responsive-sm">
            <div class="col">
                <img src="../img/logo-vertical.fw.png" width="185" alt="">
            </div>
            <div class="col title-sub">
                Encontre diaristas com o perfil
                ideal para o que você precisa.
            </div>
            <div class="col">
                <div class="list">
                    <h5 class="icon-branco">Entre com usuário e senha</h5>
                    <label class="item item-input">
                        <input class="text-center" type="text" placeholder="Usuário">
                    </label>
                    <label class="item item-input">
                        <input type="password" class="text-center" placeholder="password">
                    </label>
                    <button type="submit" name="send" class="button button-block bt-entrar icon-branco">
                        Entrar
                    </button>
                </div>
            </div>
        </div>
        </div>
        <div class="row icon-branco">
            <div class="col text-left">
                <a href="#/app/lembrar_senha">
                    Esqueceu a senha?
                </a>
            </div>
            <div class="col text-right">
                <a href="#/app/cadastrar">
                    Cadastrar-se
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
