<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="header-dona-rita">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="header-dona-rita">
            <h1 class="title" style="color: #FFF;">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list class="title-list-menu">
                <ion-item menu-close href="#/app/login">
                    <i class="icon-left ion-ios-home-outline icon-azul"></i> Home
                </ion-item>
                <ion-item menu-close href="#/app/cadastrar">
                    <i class="icon-left ion-ios-personadd-outline icon-azul"></i> Cadastrar-se
                </ion-item>
                <ion-item menu-close href="#/app/pesquisar">
                    <i class="icon-left ion-ios-search icon-azul"></i> Pesquisar
                </ion-item>

                <ion-item menu-close href="#/app/compartilhar">
                    <i class="icon-left ion-ios-people-outline icon-azul"></i> Compartilhar
                </ion-item>

                <ion-item menu-close href="#/app/contatos">
                    <i class="icon-left ion-ios-telephone-outline icon-azul"></i> Contatos
                </ion-item>

                <ion-item menu-close href="#/app/duvidas">
                    <i class="icon-left ion-ios-information-outline icon-azul"></i> Dúvidas
                </ion-item>

                <ion-item menu-close href="#/app/sobre">
                    <i class="icon-left ion-ios-gear-outline icon-azul"></i> Sobre
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
