<ion-view view-title="Pesquisar Diaristas">
    <ion-content>
        <div class="col center-block">
            <img src="../img/logo-2.fw.png" alt=""></div>
        <div class="col">
            <div class="list">
                <div class="list ">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Pesquisar Diarista">
                    </label>
                </div>
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="../img/joao.jpg">
                        <h2>João Rumão Júnior</h2>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <br>
                        <a class="item item-icon-left" href="#">
                            <i class="icon ion-thumbsup"></i>
                            Likes
                            <span class="badge badge-assertive">100</span>
                        </a>
                    </div>
                </div>
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="../img/josuelson.jpg">
                        <h2>Josuelson</h2>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>

                        <br>
                        <a class="item item-icon-left" href="#">
                            <i class="icon ion-thumbsup"></i>
                            Likes
                            <span class="badge badge-assertive">02</span>
                        </a>
                    </div>
                </div>
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="../img/preto.jpg">
                        <h2>Bismarck Santos</h2>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <br>
                        <a class="item item-icon-left" href="#">
                            <i class="icon ion-thumbsup"></i>
                            Likes
                            <span class="badge badge-assertive">6</span>
                        </a>
                    </div>
                </div>
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="../img/murillo.jpg">
                        <h2>Murillo</h2>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <i class="icon icon ion-star"></i>
                        <br>
                        <a class="item item-icon-left" href="#">
                            <i class="icon ion-thumbsup"></i>
                            Likes
                            <span class="badge badge-assertive">10</span>
                            <br>
                        </a>
                    </div>
                    </di>
                </div>
            </div>
    </ion-content>
</ion-view>
