<ion-view view-title="Sobre">
    <ion-content class="bg-login">
        <div class="row responsive-sm">
            <div class="col">
                <img src="../img/logo-vertical.fw.png" width="150" alt="">
            </div>
            <div class="col title-sub">
                Sobre
            </div>
            <p>
                Somos uma empresa intermediadora de serviços de limpeza em Prédios e
                em Domicílios, formada por jovens empreendedores, que têm como
                objetivo, facilitar o dia a dia dos brasileiros que precisam de serviços de
                diaristas e não dispõem de tempo para selecionar essas profissionais.
                O nosso diferencial encontrase na qualidade da mão de obra intermediada, com
                roteiro de limpeza desenvolvido por profissionais daárea, oferecendo ao cliente
                segurança e qualidade nos serviços recebidos.
            </p>
    </ion-content>
</ion-view>
