/* Empty. Add your own CSS if you like */
.header-dona-rita {
    border-color: #D3F2F1;
    background-color: #17BCB6;
    color: #FFFFFF;
}

.header-dona-rita .button:hover {
    color: #FFF;
    text-decoration: none;
}

.header-dona-rita .button.active, .bar-stable .button.activated {
    border-color: #a2a2a2;
    background-color: #e5e5e5;
}

.header-dona-rita .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #FFF;
    font-size: 17px;
}

/*Bg-login*/
.bg-login {
    background-image: url("../img/bg-login.fw.png");
}

.item-input {
    background-color: transparent;
    color: #ffffff;
    margin-top: 6px;
    border-radius: 25px;
}
.input-color-cinza input{
    color: #333 !important;
}
.item-input input {
    color: #ffffff;
}

.bg-login a {
    color: #ffffff;
    text-decoration: none;
}

.bt-entrar {
    background-color: #17BCB6;
}

.bg-login button {
    border-radius: 25px;
}

.bg-login input {
    border-radius: 25px;
}

.bt-facebook {
    background-color: #3B5A9A;
}

.bg-login img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-radio input:checked + .radio-content .item-content {
    /* style the item content when its checked */
    background: #17BCB6;
    color: #FFF;
}

.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated {
    border-color: #ccc;
    background-color: #17BCB6;
    color: #ffffff;
}

.item-radio .radio-icon {
    color: #ffffff;
}

.bg-login .title-sub {
    font-family: 'Source Sans Pro';
    color: #ffffff;
    font-size: 26.00px;
    font-weight: 300;
    letter-spacing: -0.767px;
    text-align: center;
}

.header-dona-rita .button.button-icon {
    border-color: transparent;
    background: none;
}

.icon-azul {
    color: #17BCB6;
}

.title-list-menu {
    color: #818285;
}

.icon-branco {
    color: #FFFFFF;
}


.a{
    color: #FFFFFF;
}
.title-contato{
    font-size: 30px;

}